baseURL = 'https://norishide.github.io/portfolio/'
languageCode = 'ja'
title = 'My Portfolio'
theme = 'PaperMod'
publishDir = 'docs'

[params]
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = true
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true

[params.homeInfoParams]
  Title = "Welcome to my portfolio"
  Content = "This is a sample site using PaperMod theme"

[[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  weight = 10

[[menu.main]]
  identifier = "posts"
  name = "Posts"
  url = "/posts/"
  weight = 20
